.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  --width-norm: min(50px, calc(80% / 12));
  --height-norm: min(300px, 35vh);
  --width-hover: min(100px, calc(90% / 12));
  --height-hover: min(500px, 50vh);
  --width-side: min(75px, calc(85% / 12));
  --height-side: min(400px, 42vh);
  --width-big: min(900px, 80%);
  --height-big: min(900px, 80vh);
}
p {
  margin: 50px;
}

ul {
  overflow: auto;
  width: 100%;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
li {
  width: var(--width-norm);
  height: var(--height-norm);
  display: inline-block;
  padding: 5px;
  transition-property: background-color width height;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  flex: none;
  background-size: cover;
}
.big {
  width: var(--width-big);
  height: var(--height-big);
  transition-duration: 0.4s;
  border-radius: 6px;
}
li:first-of-type {
  border-radius: 5px 0 0 5px;
}
li:last-of-type {
  border-radius: 0 5px 5px 0;
}
ul:not(.open) li:not(.big):hover {
  width: var(--width-hover);
  height: var(--height-hover);
}

ul:not(.open) li:hover + li,
ul:not(.open) li:has(+ li:hover) {
  width: var(--width-side);
  height: var(--height-side);
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
