.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  --width-norm: 50px;
  --height-norm: 300px;
  --width-hover: 100px;
  --height-hover: 500px;
  --width-side: 75px;
  --height-side: 400px;
  --width-big: 900px;
  --height-big: 900px;
}
p {
  margin: 50px;
}

ul {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
li {
  width: var(--width-norm);
  height: var(--height-norm);
  display: inline-block;
  padding: 5px;
  transition-property: background-color width height;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  flex: none;
}
.big {
  width: var(--width-big);
  height: var(--height-big);
  transition-duration: 0.4s;
  border-radius: 6px;
}
li:first-of-type {
  border-radius: 5px 0 0 5px;
}
li:last-of-type {
  border-radius: 0 5px 5px 0;
}
li:not(.big):hover {
  background-color: hotpink;
  width: var(--width-hover);
  height: var(--height-hover);
}

li:hover + li, li:has(+ li:hover)  {
  width: var(--width-side);
  height: var(--height-side);
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
